@charset "UTF-8";
/* font */
/* 변수선언 */
/* 노트북 */
/* 테블릿 */
/* 모바일 */
.d-pc {
  display: block;
}

.d-mb {
  display: none;
}

@media (max-width: 768px) {
  .d-pc {
    display: none;
  }
  .d-mb {
    display: block;
  }
}
/** 인터렉션 **/
.fade-up {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.fade-up-end {
  opacity: 1;
  transform: translateY(0);
}

header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 8rem;
  z-index: 999;
  transition: background-color 0.3s ease;
  background-color: transparent; /* 초기 상태 */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  header {
    height: 6.2rem;
  }
}
header .inner:not(.mo) {
  width: calc(100% - 4rem);
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .inner:not(.mo) .logo {
  width: 20.6rem;
  height: 2.4rem;
}
@media (max-width: 768px) {
  header .inner:not(.mo) .logo {
    width: 5.6rem;
  }
}
header .inner:not(.mo) .logo a {
  display: block;
}
header .inner:not(.mo) .logo a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
header .inner:not(.mo) .logo a img.black {
  display: none;
}
header .inner:not(.mo) .gnb ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}
@media (max-width: 1280px) {
  header .inner:not(.mo) .gnb ul {
    gap: 6rem;
  }
}
header .inner:not(.mo) .gnb ul li a {
  font-size: 2rem;
  color: #fff;
}
@media (max-width: 1280px) {
  header .inner:not(.mo) .gnb ul li a {
    font-size: 1.6rem;
  }
}
header .inner:not(.mo) button {
  width: 2.4rem;
  height: 2.4rem;
}
header .inner:not(.mo) button.menu-btn {
  background: url(../../assets/images/icon/menu.svg) no-repeat center/contain;
}
header.convert .inner .logo a img.d-pc.black {
  display: block;
}
header.convert .inner .logo a img.d-pc.white {
  display: none;
}
@media (max-width: 768px) {
  header.convert .inner .logo a img.d-mb.black {
    display: block;
  }
  header.convert .inner .logo a img.d-mb.white {
    display: none;
  }
  header.convert .inner .logo a img.d-pc.black {
    display: none;
  }
}
header.convert .inner .gnb ul li a {
  color: #000;
}
header.convert .inner button.menu-btn {
  background: url(../../assets/images/icon/menu_bk.svg) no-repeat center/contain;
}
header.scrolled {
  background: #000;
}
header.scrolled .inner .logo a img.d-pc.white {
  display: block;
}
header.scrolled .inner .logo a img.d-pc.black {
  display: none;
}
@media (max-width: 768px) {
  header.scrolled .inner .logo a img.d-mb.white {
    display: block;
  }
  header.scrolled .inner .logo a img.d-pc.white {
    display: none;
  }
  header.scrolled .inner .logo a img.d-mb.black {
    display: none;
  }
  header.scrolled .inner .logo a img.d-pc.black {
    display: none;
  }
}
header.scrolled .inner .gnb ul li a {
  color: #fff;
}
header.scrolled .inner button.menu-btn {
  background: url(../../assets/images/icon/menu.svg) no-repeat center/contain;
}
header .inner.mo {
  display: none;
  position: absolute;
  top: 0;
  right: -110vw;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 999;
  transition: right 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: auto;
}
header .inner.mo .btn-wrap {
  width: 100%;
  height: 6.2rem;
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
header .inner.mo .btn-wrap button.close-btn {
  width: 2.4rem;
  height: 2.4rem;
  background: url(../../assets/images/icon/close.svg) no-repeat center;
}
header .inner.mo .gnb {
  width: 100%;
  padding-bottom: 6.8rem;
}
header .inner.mo .gnb ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
header .inner.mo .gnb ul li {
  width: 100%;
  padding: 1.2rem 4rem;
}
header .inner.mo .gnb ul li a {
  font-size: 2.9rem;
  font-weight: 700;
  color: #fff;
  line-height: 1.5;
}
header .inner.mo .family-site {
  width: 100%;
  padding: 1.2rem 4rem;
}
header .inner.mo .family-site span {
  font-size: 2rem;
  font-weight: 700;
  color: #B3B3B3;
  line-height: 1.5;
}
header .inner.mo .family-site ul {
  width: 100%;
  padding-top: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.6rem;
}
header .inner.mo .family-site ul li {
  width: 100%;
}
header .inner.mo .family-site ul li a {
  font-size: 1.6rem;
  font-weight: 700;
  color: #B3B3B3;
  line-height: 1.5;
}
header .inner.mo.on {
  right: 0;
  transition: right 0.5s;
}

footer {
  width: 100%;
  background: #000;
}
footer .inner {
  width: calc(100% - 4rem);
  max-width: 1440px;
  margin: 0 auto;
  padding: 8rem 0 16rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 768px) {
  footer .inner {
    padding: 8rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4rem;
  }
}
footer .inner > div > strong {
  display: inline-block;
  padding-bottom: 1.6rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
}
@media (max-width: 768px) {
  footer .inner > div > strong {
    padding-bottom: 0.8rem;
  }
}
@media (max-width: 768px) {
  footer .inner > div.info {
    order: 1;
  }
}
footer .inner > div.info > div ul {
  margin-bottom: 0.8rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}
@media (max-width: 1280px) {
  footer .inner > div.info > div ul {
    flex-direction: column;
    gap: 0;
  }
}
footer .inner > div.info > div ul li {
  position: relative;
  font-size: 1.4rem;
  color: #808080;
}
footer .inner > div.info > div ul li a {
  font-size: 1.4rem;
  color: #808080;
}
footer .inner > div.info > div ul li:not(:last-child)::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -10px;
  width: 1px;
  height: 12px;
  background: #808080;
}
@media (max-width: 1280px) {
  footer .inner > div.info > div ul li:not(:last-child)::before {
    content: none;
  }
}
footer .inner > div.info > div p {
  font-size: 1.4rem;
  color: #808080;
}
footer .inner > div.info > ul {
  padding-top: 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}
footer .inner > div.info > ul li {
  position: relative;
}
footer .inner > div.info > ul li a {
  font-size: 1.4rem;
  font-weight: 700;
  color: #ccc;
}
footer .inner > div.info > ul li:first-child::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -10px;
  width: 1px;
  height: 12px;
  background: #ccc;
}
footer .inner > div:not(.info) ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.8rem;
}
footer .inner > div:not(.info) ul li {
  font-size: 1.4rem;
  font-weight: 700;
  color: #ccc;
}
footer .inner > div:not(.info) ul li a {
  font-size: 1.4rem;
  font-weight: 700;
  color: #ccc;
}
@media (max-width: 768px) {
  footer .inner > div.customer-support {
    order: 0;
  }
}
@media (max-width: 768px) {
  footer .inner > div.family-site {
    order: 2;
  }
}

/* 메인&서브 공통 레이아웃 */
section {
  width: 100%;
  /* 문의하기&서비스 신청하기 */
}
section > .inner {
  width: calc(100% - 4rem);
  max-width: 1440px;
  margin: 0 auto;
}
section.w1116 > .inner {
  max-width: 1116px;
}
section .tit-wrap {
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 768px) {
  section .tit-wrap {
    padding-bottom: 4rem;
  }
}
section .tit-wrap strong, section .tit-wrap h1 {
  font-size: clamp(4rem, 3.229vw, 6.2rem);
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
}
@media (max-width: 768px) {
  section .tit-wrap strong, section .tit-wrap h1 {
    font-size: 2.9rem;
  }
}
section .tit-wrap p {
  font-size: 2rem;
  line-height: 1.8;
  text-align: center;
}
@media (max-width: 768px) {
  section .tit-wrap p {
    font-size: 1.4rem;
  }
}
section .tit-wrap.type01 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
@media (max-width: 768px) {
  section .tit-wrap.type01 {
    align-items: center;
    justify-content: center;
  }
}
section .tit-wrap.type01 strong, section .tit-wrap.type01 h1 {
  color: #fff;
  text-align: left;
}
@media (max-width: 768px) {
  section .tit-wrap.type01 strong, section .tit-wrap.type01 h1 {
    text-align: center;
  }
}
section .tit-wrap.type01 p {
  color: #fff;
  text-align: left;
}
@media (max-width: 768px) {
  section .tit-wrap.type01 p {
    text-align: center;
  }
}

/* 서비스 문의하기 배너 */
section.banner {
  background: url(../../assets/images/common/banner_bg.png) no-repeat center/cover;
}
@media (max-width: 768px) {
  section.banner {
    padding: 4rem 0;
    background: #000;
  }
}
section.banner .inner {
  padding: 5.1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  section.banner .inner {
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    border-radius: 0.8rem;
    background: url(../../assets/images/common/mo/banner_bg.png) no-repeat center/cover;
  }
}
section.banner .inner strong {
  font-size: clamp(2.8rem, 1.667vw, 3.4rem);
  font-weight: 700;
  color: #fff;
}
@media (max-width: 1280px) {
  section.banner .inner strong {
    text-align: center;
  }
}
@media (max-width: 768px) {
  section.banner .inner strong {
    font-size: 2.8rem;
  }
}
section.banner .inner strong br {
  display: none;
}
@media (max-width: 930px) {
  section.banner .inner strong br {
    display: block;
  }
}

/* 자주 묻는 질문 */
section.qna {
  padding: 10rem 0;
  background: #000;
}
@media (max-width: 768px) {
  section.qna {
    padding: 4rem 0;
  }
}
section.qna .inner > .title {
  margin-bottom: 8rem;
  text-align: center;
}
@media (max-width: 768px) {
  section.qna .inner > .title {
    margin-bottom: 2rem;
  }
}
section.qna .inner > .title strong {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.5;
  color: #fff;
}
@media (max-width: 768px) {
  section.qna .inner > .title strong {
    font-size: 2.9rem;
  }
}
section.qna .inner .con-wrap ul {
  width: 100%;
  border-top: 1px solid #545961;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.qna .inner .con-wrap ul li {
  width: 100%;
  border-bottom: 1px solid #545961;
}
section.qna .inner .con-wrap ul li .q-wrap {
  position: relative;
  padding: 2.8rem 4.4rem 2.8rem 2rem;
  cursor: pointer;
}
@media (max-width: 768px) {
  section.qna .inner .con-wrap ul li .q-wrap {
    padding: 2.8rem 2.4rem 2.8rem 0;
  }
}
section.qna .inner .con-wrap ul li .q-wrap::before {
  content: "";
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: url(../../assets/images/icon/arrow_down.png) no-repeat center/contain;
  transition: all 0.25s;
}
@media (max-width: 768px) {
  section.qna .inner .con-wrap ul li .q-wrap::before {
    right: 0;
  }
}
section.qna .inner .con-wrap ul li .q-wrap strong {
  font-size: 2.4rem;
  line-height: 1.5;
  color: #fff;
}
@media (max-width: 768px) {
  section.qna .inner .con-wrap ul li .q-wrap strong {
    font-size: 2rem;
    word-break: keep-all;
  }
}
section.qna .inner .con-wrap ul li .q-wrap.on strong {
  font-weight: 700;
}
section.qna .inner .con-wrap ul li .q-wrap.on::before {
  transform: translateY(-50%) rotate(180deg);
  transition: all 0.25s;
}
section.qna .inner .con-wrap ul li .a-wrap {
  padding: 2rem;
  display: none;
  background: rgba(255, 255, 255, 0.1);
}
@media (max-width: 768px) {
  section.qna .inner .con-wrap ul li .a-wrap {
    padding: 0 0 2.8rem;
    background: none;
  }
}
section.qna .inner .con-wrap ul li .a-wrap p {
  font-size: 1.8rem;
  line-height: 1.8;
  color: #fff;
}
@media (max-width: 768px) {
  section.qna .inner .con-wrap ul li .a-wrap p {
    font-size: 1.6rem;
    word-break: keep-all;
  }
}